<?xml version="1.0" encoding="UTF-8"?>
<included>
  <springProperty scope="context" name="logging.file.name" source="logging.file.name"
    defaultValue="springbee.log"/>
  <springProperty scope="context" name="logging.file.path" source="logging.file.path"
    defaultValue="logs"/>
  <property name="LOGS" value="${logging.file.path}"/>
  <property name="FILE" value="${logging.file.name}"/>
  <appender name="RollingFileAppender"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/${FILE}</file>
    <encoder
      class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>[${server.host}] %d %p %C{1.} [%t] %m%n</Pattern>
    </encoder>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/archived/${FILE}-%d{yyyy-MM-dd}.%i</fileNamePattern>
      <maxHistory>10</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
</included>