<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="server.host" source="server.host" defaultValue="0.0.0.0"/>

  <include resource="logback-appender-console.xml"/>

  <springProfile name="logfile">
    <include resource="logback-appender-file.xml"/>
  </springProfile>

  <springProfile name="logkafka">
    <include resource="logback-appender-kafka.xml"/>
  </springProfile>

  <root level="info">
    <springProfile name="logfile">
      <appender-ref ref="RollingFileAppender"/>
    </springProfile>
    <springProfile name="logkafka">
      <appender-ref ref="KafkaAppender"/>
    </springProfile>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</configuration>